:host {
  position: absolute;
  bottom: 0px;
  background-color: lightgray;
  width: 100%;
  height: 60px;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .ing-logo {
    background: url("../../../assets/images/ing-logo.png");
    background-size: cover;
    height: 35px;
    width: 100px;
    //margin: 0 40px 0 10%;
  }
}