<mat-toolbar class="toolbar" class="mat-elevation-z4">
  <mat-toolbar-row>
    <div class="logo"></div>
    <span class="menu-spacer"></span>
    <div>
      <a class="btn-nav" mat-button [routerLink]="'/rent'" routerLinkActive="active"> Rent resource </a>
      <a class="btn-nav" mat-button [routerLink]="'/wish-list'" routerLinkActive="active"> Wishlist </a>
      <a class="btn-nav" mat-button [routerLink]="'/resource/1'" routerLinkActive="active"> single resource </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer class="mat-elevation-z4"></app-footer>
