.toolbar {
  background-color: white;
  border-bottom: 1px solid gray;
}

.btn-nav {
  letter-spacing: 2px;
  color: #ff6200;
  &.active {
    border-bottom: 1px solid #ff6200;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    //text-decoration: underline;
  }
}