<mat-toolbar class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <div class="logo" (click)="onClickLogo()"></div>
    <span class="menu-spacer"></span>
    <div>
      <a class="btn-nav" mat-button [routerLink]="'/rent'" routerLinkActive="active"> Rent resource </a>
      <a class="btn-nav" mat-button [routerLink]="'/wish-list'" routerLinkActive="active"> Wishlist </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<div class="fixed-scanner round-button">
  <i class="material-icons-outlined" style="font-size: 48px;">
  camera
</i>
</div>

<app-footer class="mat-elevation-z4"></app-footer>
