<app-head-title [title]="'My Collection'" [description]="'My rented items.'"></app-head-title>

<mat-form-field class="">
    <input (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter.value" matInput placeholder="Find resource...">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="rentDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rent Date </th>
            <td mat-cell *matCellDef="let row"> {{row.rentDate}} </td>
        </ng-container>

        <ng-container matColumnDef="untilDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Until Date </th>
            <td mat-cell *matCellDef="let row"> {{row.untilDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>