
.resource-photo {
  background: url("./../../../assets/images/book_cover.jpg");
  background-size: cover;
  height: 500px;
  width: 180px;
}

.mt-20 {
  margin-top: 20px;
}

.resource-summary {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.resource-description {

}
