
.resource-photo {
  background: url("./../../../assets/images/book_cover.jpg");
  background-size: cover;
  height: 500px;
  width: 180px;
  border: 10px whitesmoke;
}

.mt-20 {
  margin-top: 20px;
}

.resource-summary {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.resource-description {
  padding-top: 20px;
}

.score {
  background: #eeeeee;
  width: 100%;
  height: 20px;
}

.container {
  background: #efefef;
}

i.active {
  color: darkorange;
}

section#resource-actions button {
  margin: 10px;
}

button {
}
