<div class="container mt-20">
  <div class="row">

    <div class="col-md-4 resource-photo"></div>
    <div class="col-md-8">
      <div class="row">
        <h1>{{ dataSource.name }}</h1>
      </div>

      <div class="row resource-summary">
          <div class="col-md-12">
            <i class="material-icons active">
              stars
            </i>
            <i class="material-icons active">
              stars
            </i>
            <i class="material-icons active">
              stars
            </i>
            <i class="material-icons">
              stars
            </i>
            <i class="material-icons">
              stars
            </i>
          </div>
        <hr>
        <div class="col-md-12"><b>Code:</b> {{ dataSource.code }}</div>
        <div class="col-md-12"><b>ISBN:</b> {{ dataSource.description }}</div>
        <div class="col-md-12"><b>QR:</b> {{ dataSource.qr }}</div>
        <div class="col-md-4"></div>
      </div>
      <div class="row resource-description">
        <div class="col-md-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod velit viverra semper facilisis.
            Morbi ultricies interdum ante eleifend vehicula. Phasellus in lectus sollicitudin, consequat turpis a,
            tristique massa. Proin orci arcu, porta ac maximus a, tincidunt vel nunc. Praesent vitae ipsum cursus,
            consectetur nibh finibus, gravida turpis. Proin a gravida orci. Fusce mi leo, rhoncus vel massa et, sagittis
            tincidunt quam. Suspendisse molestie mi id maximus egestas. Etiam suscipit nunc a pretium aliquet. Ut sit amet
            nunc eu tellus feugiat tempor. Aliquam at metus sed urna commodo malesuada eu quis lacus.</p>
        </div>
      </div>

    </div>

  </div>


</div>
