:host {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }
}

.logo {
  background: url("./../../../assets/images/logo.png");
  background-size: cover;
  height: 64px;
  width: 270px;
  padding: 0 20px;
}
