:host {
  width: 80%;
  display: block;
  margin-left: 10%;

  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  .like {
    user-select: none;
  }

  .material-icons {
    user-select: none;
    margin-top: 3px;
    margin-right: 3px;
    &:hover {
      color: #ff6200;
      transition: 0.2s all;
      cursor: pointer;
    }
    &.inactive {
      color: gray;
      cursor: default;
    }
  }
}
